:root {
  --orange: #d97823;
  --white: #f2f2f2;
  --black: #0d0d0d;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Oxygen";
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

button {
  padding: 0.75rem 1.5rem;
  display: inline-block;
  outline: none;
  font-size: 14px;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  box-shadow: inset 0 0 0 1px #616467;
  background-color: transparent;
}

button:hover {
  color: var(--black);
  background-color: var(--white);
}

#whole-form-container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--white);
}

.form-group:hover {
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px var(--white);
  transform: scale(1.05);
  border-radius: 6px;
}

.form-group {
  padding: 5px;
  margin: 5px;
  width: 100%;
}

input {
  width: 95%;
  border: none;
  background-color: var(--white);
  margin: 4px;
  padding: 4px;
}

